.result-table input[type="text"] {
    margin-bottom: 0px;
}

/*
.result-table tbody > *:nth-child(6n+4) {
      background: #F9F9F9;
}

.result-table tbody > *:nth-child(6n+5) {
    background: #F9F9F9;
}

.result-table tbody > *:nth-child(6n+6) {
    background: #F9F9F9;
}              */

input.ng-invalid {
    border-color: #fa6d60 !important;
}

.only-print {
    display: none;
}

.only-non-print {
    display: block;
}


@media print {

    body {
        padding: 0 10px !important;
        font-size: 8px !important;
    }

    h3 {
        font-size: 14px !important;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    h4 {
        font-size: 12px !important;
        padding: 0;
        margin: 0;
    }

    td {
        padding: 0 40px 0 0 !important;
    }

    .only-print {
        display: block;
    }

    .only-non-print {
        display: none;
    }


    .container-fluid {
        padding: 0 !important;
    }

    .nav {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }

    .btn-toolbar {
        display: none !important;
    }

    .breadcrumb {
        display: none !important;
    }

    .navbar {
        display: none !important;
    }

    .table {
        width: auto;
        line-height: 12px !important;
        margin-bottom: 5px;
    }


    footer {
        display: none;
    }

    #fairsprints-print h4 {
        font-size: 8px !important;
        padding: 0;
        margin: 0;
    }
    #fairsprints-print table {
        width: auto;
        border-spacing: 0px !important;
        line-height: 8px !important;
        margin-bottom: 5px;
    }

    #fairsprints-print td {
        padding: 0px 10px !important;
        font-size: 8px !important;
    }

    .page-break {
        page-break-after: always;
    }
}

.ajax-loader {
    width: 32px;
    height: 32px;
    background: url('../img/ajax-loader.gif');
    margin: 0 auto;
    display: none;
}