<ng-include src="'/html/partials/menu.html'"></ng-include>

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li>{{race.name}} <span class="divider">/</span></li>
        <li class="active">Nominace</li>
    </ul>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Tým</th>
            <th>Jezdec 1</th>
            <th>Jezdec 2</th>
            <th>Jezdec 3</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="raceAssignment in raceAssignments">
            <td>{{raceAssignment.team.name}}</td>
            <td><select
                    ng-options="sa.driver as sa.driver.name + ' ' + sa.driver.surname for sa in seasonAssignments[raceAssignment.team.id]"
                    ng-model="raceAssignment.driver"></select></td>
            <td><select
                    ng-options="sa.driver as sa.driver.name + ' ' + sa.driver.surname for sa in seasonAssignments[raceAssignment.team.id]"
                    ng-model="raceAssignment.driver2"></select></td>
            <td><select
                    ng-options="sa.driver as sa.driver.name + ' ' + sa.driver.surname for sa in seasonAssignments[raceAssignment.team.id]"
                    ng-model="raceAssignment.driver3"></select></td>
        </tr>
        </tbody>

    </table>
    <!-- <button class="btn btn-primary" ng-click="loadTestData()">Testovací data nominace</button> -->
</div><!--/span-->